***stopwords removal***

In [1]:
# load the text file

file = open(r"/Users/nick_mac/Desktop/Natural-Language-Processing/datasets/moon.txt",encoding="utf-8")
text = file.read()
file.close()

print(text)

The moon is the satellite of the earth. It moves round the earth. It shines at night by light reflected from the Sun. It looks beautiful. The bright Moonlight is very soothing. The earthly objects shine like silver in the moonlight. We are fascinated by the enchanting beauty of the Moon. The moon is not as beautiful as it looks. It seems to be lovely when it shines in the sky at night. As a matter of fact it is devoid of plants and animals. The moon is not a suitable place for plants and animals. Therefore, no form of life can be found on the moon. Unlike the earth, the moon has got no atmosphere. Therefore, the lunar days are very hot and the lunar nights are intensely cold. The moon looks beautiful from the earth but in fact it has up forbidding appearance. It is full of rocks and craters. When we look at the moon at night we see some dark spots on it. These dark spots are dangerous rocks and craters. The gravitational pull of the moon is less than that of the earth, so it is difficult to walk on the surface of the Moon. The moon has fascinated man since the beginning of his life on the earth. He has looked at it with wonder. Many poets have composed beautiful poems on the moon. Scientists tried to reveal the mystery of the moon. They wanted to send human to the moon. Several attempts were made to place man on the moon. At last two Americans-Neil Armstrong and Edwin Aldrin-reached the moon on July 21, 1969. They walked on the surface of the moon and collected the lunar rocks. They returned to the earth safely. The American scientists have sent men to the moon several times. Now the moon has been conquered by man. It is no longer a mysterious object. The journey of the moon may be thrilling but it cannot make our life on the earth happy. It is better to have a happy life on the earth then to go to the moon.

In [2]:
# clean the text 

import re

def clean_text(text):
    text = text.lower()
    text = re.sub('[,.\n]','',text)
    text = re.sub('-','',text)
    return text

cleaned_text = clean_text(text)
print(cleaned_text)

the moon is the satellite of the earth it moves round the earth it shines at night by light reflected from the sun it looks beautiful the bright moonlight is very soothing the earthly objects shine like silver in the moonlight we are fascinated by the enchanting beauty of the moon the moon is not as beautiful as it looks it seems to be lovely when it shines in the sky at night as a matter of fact it is devoid of plants and animals the moon is not a suitable place for plants and animals therefore no form of life can be found on the moon unlike the earth the moon has got no atmosphere therefore the lunar days are very hot and the lunar nights are intensely cold the moon looks beautiful from the earth but in fact it has up forbidding appearance it is full of rocks and craters when we look at the moon at night we see some dark spots on it these dark spots are dangerous rocks and craters the gravitational pull of the moon is less than that of the earth so it is difficult to walk on the surface of the moon the moon has fascinated man since the beginning of his life on the earth he has looked at it with wonder many poets have composed beautiful poems on the moon scientists tried to reveal the mystery of the moon they wanted to send human to the moon several attempts were made to place man on the moon at last two americansneil armstrong and edwin aldrinreached the moon on july 21 1969 they walked on the surface of the moon and collected the lunar rocks they returned to the earth safely the american scientists have sent men to the moon several times now the moon has been conquered by man it is no longer a mysterious object the journey of the moon may be thrilling but it cannot make our life on the earth happy it is better to have a happy life on the earth then to go to the moon

***finding most frequents words***

In [4]:
import spacy
import warnings
warnings.filterwarnings("ignore")

nlp = spacy.load('en_core_web_sm')

In [5]:
# creating doc objects

doc = nlp(cleaned_text)

In [6]:
# creating word dictionary

word_dict = {}

for token in doc:
    if token.text in word_dict:
        word_dict[token.text] += 1
    else:
        word_dict[token.text] = 1

In [7]:
# check the word dictionary

word_dict

{'the': 47,
 'moon': 21,
 'is': 10,
 'satellite': 1,
 'of': 13,
 'earth': 9,
 'it': 15,
 'moves': 1,
 'round': 1,
 'shines': 2,
 'at': 6,
 'night': 3,
 'by': 3,
 'light': 1,
 'reflected': 1,
 'from': 2,
 'sun': 1,
 'looks': 3,
 'beautiful': 4,
 'bright': 1,
 'moonlight': 2,
 'very': 2,
 'soothing': 1,
 'earthly': 1,
 'objects': 1,
 'shine': 1,
 'like': 1,
 'silver': 1,
 'in': 3,
 'we': 3,
 'are': 4,
 'fascinated': 2,
 'enchanting': 1,
 'beauty': 1,
 'not': 3,
 'as': 3,
 'seems': 1,
 'to': 11,
 'be': 3,
 'lovely': 1,
 'when': 2,
 'sky': 1,
 'a': 4,
 'matter': 1,
 'fact': 2,
 'devoid': 1,
 'plants': 2,
 'and': 7,
 'animals': 2,
 'suitable': 1,
 'place': 2,
 'for': 1,
 'therefore': 2,
 'no': 3,
 'form': 1,
 'life': 4,
 'can': 2,
 'found': 1,
 'on': 10,
 'unlike': 1,
 'has': 5,
 'got': 1,
 'atmosphere': 1,
 'lunar': 3,
 'days': 1,
 'hot': 1,
 'nights': 1,
 'intensely': 1,
 'cold': 1,
 'but': 2,
 'up': 1,
 'forbidding': 1,
 'appearance': 1,
 'full': 1,
 'rocks': 3,
 'craters': 2,
 'look': 1,
 'see': 1,
 'some': 1,
 'dark': 2,
 'spots': 2,
 'these': 1,
 'dangerous': 1,
 'gravitational': 1,
 'pull': 1,
 'less': 1,
 'than': 1,
 'that': 1,
 'so': 1,
 'difficult': 1,
 'walk': 1,
 'surface': 2,
 'man': 3,
 'since': 1,
 'beginning': 1,
 'his': 1,
 'he': 1,
 'looked': 1,
 'with': 1,
 'wonder': 1,
 'many': 1,
 'poets': 1,
 'have': 3,
 'composed': 1,
 'poems': 1,
 'scientists': 2,
 'tried': 1,
 'reveal': 1,
 'mystery': 1,
 'they': 3,
 'wanted': 1,
 'send': 1,
 'human': 1,
 'several': 2,
 'attempts': 1,
 'were': 1,
 'made': 1,
 'last': 1,
 'two': 1,
 'americansneil': 1,
 'armstrong': 1,
 'edwin': 1,
 'aldrinreached': 1,
 'july': 1,
 '21': 1,
 '1969': 1,
 'walked': 1,
 'collected': 1,
 'returned': 1,
 'safely': 1,
 'american': 1,
 'sent': 1,
 'men': 1,
 'times': 1,
 'now': 1,
 'been': 1,
 'conquered': 1,
 'longer': 1,
 'mysterious': 1,
 'object': 1,
 'journey': 1,
 'may': 1,
 'thrilling': 1,
 'make': 1,
 'our': 1,
 'happy': 2,
 'better': 1,
 'then': 1,
 'go': 1}

In [11]:
# let's convert this into dataframe

import pandas as pd
df = pd.DataFrame({'word':list(word_dict.keys()),'count':list(word_dict.values())})
df.sort_values(by='count',ascending=False,inplace=True,ignore_index=True)
df.head(5)

   word  count
0   the     47
1  moon     21
2    it     15
3    of     13
4    to     11

In [13]:
# let's check stopwords from spacy

print(nlp.Defaults.stop_words)
print(len(nlp.Defaults.stop_words))

{'against', '‘s', 'too', 'along', 'whom', 'forty', 'well', 'the', 'anyway', 'least', 'fifty', 'whatever', 'after', 'afterwards', 'almost', 'seeming', 'everyone', 'meanwhile', 'became', 'somewhere', 'others', 'someone', 'back', 'keep', 'in', 'everything', 'towards', 'other', 'therefore', 'why', 'though', 'neither', 'yet', 'would', 'thereupon', 'own', 'such', 'five', 'thence', 'between', 'regarding', 'thru', 'or', 'alone', 'behind', 'empty', 'just', 'becomes', 'yourselves', 'a', 'also', '’re', '’s', 'doing', 'when', 'say', 'three', 'very', 'we', 'sometime', 'n’t', 'using', 'wherein', 'being', 'this', 'various', 'nor', 'often', 'somehow', 'beside', 'two', 'even', 'used', 'around', "'m", 'move', 're', 'seem', 'as', 'go', 'are', 'see', 'have', 'otherwise', 'it', 'always', 'take', 'these', 'eight', 'moreover', 'her', 'across', 'only', 'everywhere', 'should', 'their', 'anyhow', 'throughout', 'your', 'nevertheless', 'himself', 'hers', 'than', 'last', 'all', 'whoever', 'call', 'top', 'yours', 'above', 'less', 'further', 'those', 'none', 'for', 'made', 'which', 'next', 'herself', 'front', 'fifteen', 'us', 'nothing', 'they', 'sixty', 'thereby', 'few', 'hence', 'where', '‘ve', 'me', 'to', 'make', 'done', 'herein', 'hereafter', 'up', '‘re', 'become', 'then', "'d", 'over', 'until', 'give', 'its', 'although', 'one', 'whereas', '‘ll', 'from', 'mostly', 'again', 'out', 'unless', 'with', 'however', 'before', 'something', 'latter', 'at', 'among', 'can', 'hereby', 'no', 'per', 'will', 'due', 'else', 'show', 'already', 'ourselves', "'ve", 'eleven', 'first', 'did', 'an', 'same', 'has', 'besides', 'anyone', 'since', 'former', 'because', 'ours', 'without', 'whenever', 'hundred', 'below', 'any', 'but', 'some', 'twelve', 'namely', 'except', '‘m', 'together', 'does', 'third', 'nowhere', 'cannot', 'both', 'that', 'noone', 'how', 'must', 'whence', 'his', 'of', 'nobody', 'wherever', 'itself', 'toward', 'rather', 'ten', 'may', "'s", 'anywhere', 'full', 'now', 'side', 'latterly', '’ve', 'by', 'elsewhere', 'formerly', 'seems', 'amount', 'you', '’m', 'through', 'might', 'still', 'myself', 'during', '‘d', 'could', 'seemed', 'amongst', 'so', 'what', 'whereafter', 'who', 'once', 'whose', 'many', 'beyond', 'mine', 'them', 'down', 'here', 'more', 'off', 'while', 'part', 'twenty', 'nine', "'re", 'via', 'anything', 'whereby', 'been', 'themselves', 'sometimes', 'indeed', 'onto', 'under', 'upon', 'enough', 'whether', 'every', 'whither', 'am', "'ll", 'get', 'whole', 'bottom', '’ll', 'and', 'hereupon', 'into', 'beforehand', 'within', 'ca', 'much', 'either', 'serious', 'about', 'him', 'my', 'name', 'our', '’d', 'please', 'n‘t', 'never', 'several', 'thereafter', 'really', 'whereupon', 'thus', 'was', 'had', 'therein', 'do', 'be', 'were', 'if', 'she', 'quite', 'he', 'each', 'four', 'ever', 'i', 'not', 'there', 'is', 'another', 'put', 'six', 'most', 'yourself', 'becoming', 'perhaps', 'on', "n't"}
326

In [15]:
# let's create new token without stopwords

new_tokens = [token.text for token in doc if (token.is_stop == False)]
print(new_tokens)

['moon', 'satellite', 'earth', 'moves', 'round', 'earth', 'shines', 'night', 'light', 'reflected', 'sun', 'looks', 'beautiful', 'bright', 'moonlight', 'soothing', 'earthly', 'objects', 'shine', 'like', 'silver', 'moonlight', 'fascinated', 'enchanting', 'beauty', 'moon', 'moon', 'beautiful', 'looks', 'lovely', 'shines', 'sky', 'night', 'matter', 'fact', 'devoid', 'plants', 'animals', 'moon', 'suitable', 'place', 'plants', 'animals', 'form', 'life', 'found', 'moon', 'unlike', 'earth', 'moon', 'got', 'atmosphere', 'lunar', 'days', 'hot', 'lunar', 'nights', 'intensely', 'cold', 'moon', 'looks', 'beautiful', 'earth', 'fact', 'forbidding', 'appearance', 'rocks', 'craters', 'look', 'moon', 'night', 'dark', 'spots', 'dark', 'spots', 'dangerous', 'rocks', 'craters', 'gravitational', 'pull', 'moon', 'earth', 'difficult', 'walk', 'surface', 'moon', 'moon', 'fascinated', 'man', 'beginning', 'life', 'earth', 'looked', 'wonder', 'poets', 'composed', 'beautiful', 'poems', 'moon', 'scientists', 'tried', 'reveal', 'mystery', 'moon', 'wanted', 'send', 'human', 'moon', 'attempts', 'place', 'man', 'moon', 'americansneil', 'armstrong', 'edwin', 'aldrinreached', 'moon', 'july', '21', '1969', 'walked', 'surface', 'moon', 'collected', 'lunar', 'rocks', 'returned', 'earth', 'safely', 'american', 'scientists', 'sent', 'men', 'moon', 'times', 'moon', 'conquered', 'man', 'longer', 'mysterious', 'object', 'journey', 'moon', 'thrilling', 'life', 'earth', 'happy', 'better', 'happy', 'life', 'earth', 'moon']

In [17]:
# let's create words frequeny of new token

word_dict_without_stopwords = {}

for token in new_tokens:
    if token in word_dict_without_stopwords:
        word_dict_without_stopwords[token] += 1
    else:
        word_dict_without_stopwords[token] = 1

In [19]:
# let's convert this into dataframe

import pandas as pd
df = pd.DataFrame({'word':list(word_dict_without_stopwords.keys()),'count':list(word_dict_without_stopwords.values())})
df.sort_values(by='count',ascending=False,inplace=True,ignore_index=True)
df.head(5)

        word  count
0       moon     21
1      earth      9
2       life      4
3  beautiful      4
4      rocks      3